/* Initialisation du projet */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --trip-white: #ffffff;
  --trip-green: #29e470;
  --trip-pine: #043f1c;
  --muted: #64748b;
  --shadow-color: #64748b8c;

  /* font */
  --font-primary: "Poppins", Helvetica, Arial, sans-serif;
  --font-secondary: "Roboto Mono", Courier, monospace;
}

/* Style Générale */
body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
  color: var(--trip-pine);
  background-color: var(--trip-white);
  font-family: var(--font-secondary);
  row-gap: 4rem;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* Header */
.header {
  grid-area: header;
}

/* Nav barre: sticky & responsive via flexbox */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.75rem 4.2rem;
  color: var(--trip-pine);
  width: 100%;
  position: fixed;
  top: 0;
  gap: 1rem;
  z-index: 1;
  background-color: var(--trip-white);
}

.nav-logo {
  width: 60px;
  display: flex;
  align-items: center;
}

.nav-link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.nav-link a {
  text-decoration: none;
  color: var(--trip-pine);
  font-family: var(--font-primary);
  font-weight: 600;
  transition:
    transform 0.3s,
    color 0.3s;
}

.nav-link a:hover {
  color: var(--trip-green);
  transform: scale(1.01);
}

.nav-search-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.nav-search-form-input {
  min-width: 250px;
  max-width: 350px;
  width: 60%;
  padding: 0.4em 0.8em;
  border: 1px solid var(--muted);
  border-radius: 100px;
  font-family: var(--font-primary);
  outline: none;
  font-size: 0.875rem;
}

.nav-search-form-btn {
  padding: 0.4em 0.8em;
  border-radius: 100px;
  border: none;
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--trip-white);
  background-color: var(--trip-pine);
  transition: background-color 0.3s;
  cursor: pointer;
}

.nav-search-form-btn:hover {
  background-color: var(--trip-green);
}

.nav-search-form-btn:active {
  transform: scale(0.98);
}

/* saas: section hero avec superposition */
.hero {
  background-color: var(--trip-green);
  padding: 3rem 4.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: center;
  margin-top: 40px;
}

.hero-carroussel {
  min-height: 300px;
  height: 60vh;
  max-height: 500px;
  border-radius: 5px;
  background-image: url("https://res.cloudinary.com/dbm4cyzrb/image/upload/v1783067852/1_ktbula.jpg");
  background-position: center;
  background-size: cover;
  animation: carroussel 15s steps(1) infinite;
  opacity: 0.6;
}

@keyframes carroussel {
  20% {
    background-image: url("https://res.cloudinary.com/dbm4cyzrb/image/upload/v1783067954/2_ni1odx.jpg");
  }
  40% {
    background-image: url("https://res.cloudinary.com/dbm4cyzrb/image/upload/v1783068093/3_zdxayr.jpg");
  }
  60% {
    background-image: url("https://res.cloudinary.com/dbm4cyzrb/image/upload/v1783068171/4_suerkb.jpg");
  }
  80% {
    background-image: url("https://res.cloudinary.com/dbm4cyzrb/image/upload/v1783068398/5_y7k0bd.jpg");
  }
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  max-width: 450px;
  justify-self: center;
}

.description-subtitle {
  color: var(--trip-white);
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 1.5rem;
}

.description-text {
  color: var(--trip-white);
  font-family: var(--font-secondary);
  font-weight: 500;
}

.btn {
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--trip-pine);
  background-color: var(--trip-white);
  padding: 0.5em 1em;
  border-radius: 100px;
  transition:
    background-color 0.5s,
    color 0.5s;
}

.btn:hover {
  background-color: var(--trip-pine);
  color: var(--trip-white);
}

.btn:active {
  transform: scale(0.98);
}

/* contenu principal */
.main {
  grid-area: main;
  padding: 0 4.2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* card desk */
.restaurant,
.souvenir {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.restaurant-intro-title,
.souvenir-intro-title {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 800;
}

.restaurant-intro-text,
.souvenir-intro-text {
  font-family: var(--font-secondary);
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--muted);
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.restaurant-card {
  display: flex;
  gap: .7rem;
  box-shadow: 0px 1px 2px var(--shadow-color);
  width: 400px;
  transition: transform 0.4s;
}

.restaurant-card:hover {
  transform: translateY(-4px);
}

.restaurant-img {
  width: 200px;
  height: 200px;
}

.restaurant-info {
  padding: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.restaurant-info-title {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
}

.restaurant-info-other {
  font-family: var(--font-secondary);
  font-size: 0.875rem;
  color: var(--muted);
}

/* bento gallery: portfolio asymétrique moderne */

.souvenir-pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 300px) 400px;
    grid-template-areas: 
        "picture-a picture-a picture-b picture-c"
        "picture-a picture-a picture-b picture-e"
        "picture-d picture-d picture-d picture-e";
    gap: 0.2rem
}

.picture-a {
    grid-area: picture-a;
}

.picture-b {
    grid-area: picture-b;
}

.picture-c {
    grid-area: picture-c;
}

.picture-d {
    grid-area: picture-d;
}

.picture-e {
    grid-area: picture-e;
}


.footer {
  grid-area: footer;
  background-color: var(--trip-green);
  padding: 2rem 4rem;
  text-align: center;
}

.footer-logo {
    width: 200px;
    margin: 0 auto 1rem;
}

.footer-text {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 1rem;
    color: var(--trip-white);
}